<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>length</key>
		<integer>100</integer>
		<key>noteKey</key>
		<integer>81</integer>
		<key>noteName</key>
		<string>A3</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>105</integer>
		<key>noteKey</key>
		<integer>78</integer>
		<key>noteName</key>
		<string>F#</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>110</integer>
		<key>noteKey</key>
		<integer>74</integer>
		<key>noteName</key>
		<string>D3</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>115</integer>
		<key>noteKey</key>
		<integer>71</integer>
		<key>noteName</key>
		<string>B2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>120</integer>
		<key>noteKey</key>
		<integer>67</integer>
		<key>noteName</key>
		<string>G2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>125</integer>
		<key>noteKey</key>
		<integer>64</integer>
		<key>noteName</key>
		<string>E2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>130</integer>
		<key>noteKey</key>
		<integer>60</integer>
		<key>noteName</key>
		<string>C2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>135</integer>
		<key>noteKey</key>
		<integer>59</integer>
		<key>noteName</key>
		<string>B1</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>133</integer>
		<key>noteKey</key>
		<integer>62</integer>
		<key>noteName</key>
		<string>D2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>128</integer>
		<key>noteKey</key>
		<integer>66</integer>
		<key>noteName</key>
		<string>F#2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>123</integer>
		<key>noteKey</key>
		<integer>69</integer>
		<key>noteName</key>
		<string>A2</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>118</integer>
		<key>noteKey</key>
		<integer>72</integer>
		<key>noteName</key>
		<string>C3</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>113</integer>
		<key>noteKey</key>
		<integer>76</integer>
		<key>noteName</key>
		<string>E3</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>108</integer>
		<key>noteKey</key>
		<integer>79</integer>
		<key>noteName</key>
		<string>G3</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>103</integer>
		<key>noteKey</key>
		<integer>83</integer>
		<key>noteName</key>
		<string>B3</string>
	</dict>
</array>
</plist>
